body {
	font-size: 14px;
	line-height: 21px;
	font-family: "PT Sans", "Arial", sans-serif;
	color: #333333;
	text-transform: uppercase;
}

p {
	font-size: 14px;
	line-height: 26px;
}

h2 {
	font-style: bold;
	font-size: 21px;
	line-height: 26px;
	color: #000000;
}

h3 {
	font-style: bold;
	font-size: 21px;
	line-height: 21px;
	color: #000000;
}

.main-header a {
	font-style: bold;
	line-height: 26px;
	color: #000000;
}

.city h3,
.city p {
	color: #ffffff;
}

.bridge h3,
.bridge p {
	color: #ffffff;
}

.search-hotel h2 {
	font-style: bold;
	font-size: 30px;
	line-height: 24px;
	color: #000000;	
}

.search-hotel p {
	font-size: 14px;
	line-height: 24px;
}

.inner-settings {
	color: #ffffff;
}

.inner-filters h3,
.item-about h3 {
	font-style: bold;
	font-size: 21px;
	line-height: 26px;
	color: #000000;	
}

.inner-filters p,
.inner-filters a {
	font-size: 12px;
	line-height: 18px;
}


html,
body {
	min-width: 1122px;
	margin: 0;
	padding: 0;
	background: #acdee7;
}


.container {
	width: 1200px;
	margin: 0 auto;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.main-navigation li {
	display: inline-block;
	width: 220px;
	height: 55px;
	vertical-align: center;
	text-align: center;
}

.promo {
	text-align: center;
}

.sedona {
	text-align: center;
}

.city-content {
	float: left;
	width: 400px;
}

.city img {
	float: right;
	width: 800px;
	height: 256px;
}


.preferences li {
  float: left;

  /* уменьшил с 400 */
  width: 380px;
    
  /* Только для оформления сетки */
  min-height: 330px;
}

.bridge img {
	float: right;
	width: 800px;
	height: 256px;
}

.bridge-content {
	float: right;
	width: 400px;
}


.pluses li {
  float: left;

  /* уменьшил с 400 */
  width: 380px;
    
  /* Только для оформления сетки */
  min-height: 330px;
}

.search-hotel {
	text-align: center;
}

.footer-hashtag {
	float: left;
	width: 400px;
}

.footer-social {
	float: left;
	width: 400px;
}

.footer-copyright {
	float: left;
	width: 400px;
}

.infrastructure {
	float: left;
	width: 240px;

/* Только для оформления сетки */
	min-height: 210px;
}

.house-type {
	float: left;
	width: 288px;

/* Только для оформления сетки */
	min-height: 210px;
}

.price-range {
	float: right;
	width: 400px;
	/* Только для оформления сетки */
	min-height: 210px;
}

.inner-padding {
	padding: 0 73px;
}

.inner-filters {
	width: 1056px;
}

.inner-filters ul,
.inner-filters ul > li,
.inner-filters h3,
.inner-filters p,
.inner-filters span {
	display: inline-block;
	margin-left: 30px;
}

.inner-filters ul {
	width: 288px;
}

.inner-filters span {
	ma
}


.item-image {
	float: left;
	width: 135px;

	/* Только для оформления сетки */
	min-height: 90px;
}

.item-about {
	float: left;
	width: 393px;

	/* Только для оформления сетки */
	min-height: 90px;
}

.item-rate {
	float: right;
	width: 241px;

/* Только для оформления сетки */
	min-height: 90px;
}